.square {
  width: 65px;
  height: 65px;
  border-radius: 15px;
  position: fixed;
  background: linear-gradient(72deg, #fbc2eb, #a6c1ee);
  z-index: 100;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  right: 5px;
  bottom: 5px;
}

.child {
  display: flex;
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
  //margin-top: 15px;
  margin: auto;
}

.expanded {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  .naviBar {
    height: 50px;
    margin: 10px;

    display: flex;

    &> * {
      background: white;
      border-radius: 5px;
      flex: 1;
      font-size: large;
      font-weight: bold;
      user-select: none;
      line-height: 30px;
      padding: 10px;
    }

    .btn {
      flex: unset;
      width: 50px;
      margin-left: 10px;
    }
  }

  .chatList {
    flex: 1;
    background: white;
    border-radius: 5px;
    margin: 0 10px;

    overflow-y: scroll;

    scrollbar-width: none;
    box-sizing: content-box;

    position: relative;

    .infoContainer {
      display: flex;
      flex-direction: column;

      align-items: center;

      user-select: none;

      &> img {
        height: 80px;
        width: 80px;
        overflow: hidden;
        object-fit: cover;
        margin: 35px 5px;
        border-radius: 10px;
        box-shadow: 5px 10px 5px #0003 ;
      }

      &> p {
        font-size: medium;
        font-weight: bold;
        margin: 0 10px;
      }

      .featureCards {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(2, 100px);
        gap: 1px;
        &> div {
          margin: 5px 5px;
          border-radius: 5px;
          background-color: #eee;
          text-align: center;
          div {  // Card Header
            font-weight: bold;
            font-size: large;
            margin: 5px;
          }
          &> p {  // Card Content
            font-size: medium;
            line-height: 1rem;
          }
        }
      }
    }  // END OF INFO CONTAINER

    .chatContainer {
      display: flex;
      flex-direction: column;

      .chatListItem {
        display: flex;
        min-height: 40px;

        margin: 10px 10px 10px 5px;

        color: #000;

        &> div {  // 聊天框主体
          max-width: 80%;
          padding: 5px;

          font-size: large;

          border-radius: 5px;
          background-color: #c9e2ff;

          display: flex;
          flex-direction: column;

          &> .hr {
            height: 0;
            width: 100%;
            border: .5px solid #aaae;
          }
        }

        &::before {
          content: "";
          width: 0;
          height: 0;

          margin: 15px 0;  // Parent - Border

          border: 5px solid transparent;
          border-right: 5px solid #c9e2ff;
        }

        &.userContent {  // 用户侧聊天框
          flex-direction: row-reverse;

          margin-left: 10px;
          margin-right: 5px;

          &> div {
            background-color: #ade470;
          }

          &::before {
            border: 5px solid transparent;
            border-left: 5px solid #ade470;
          }
        }
      }
    }

    .chatContainerNewMessageReminder {
      position: fixed;
      width: 100%;
      bottom: 70px;
      left: 0;
      text-align: center;
      color: #3481e2;
      user-select: none;
      cursor: pointer;
    }
  }

  .inputContainer {
    height: 50px;
    margin: 10px;

    display: flex;

    &> * {
      background: white;
      border-radius: 5px;
      flex: 1;
      font-size: large;
      user-select: none;
      line-height: 30px;
      padding: 10px;
    }

    .btn {
      flex: unset;
      width: 50px;
      margin-left: 10px;
    }
  }
}

.hideIcon {
  border-radius: 10px;
  box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.2);
}

.button {
  width: 80px;
  height: 80px;
  background-color: transparent;
  border: none;
  animation: fade-in 2s ease-in forwards;
}

.button:focus {
  outline: none;
  border: none;
}

.button:hover {
  cursor: pointer;
  animation: jelly 0.5s;
}

@keyframes jelly {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}

.resizable-handler {
  --size: 10px;
  position: absolute;
  //width: 40px;
  //height: 40px;
  width: 0;
  height: 0;
  padding: 0;
  left: 0;
  top: 0;
  cursor: nwse-resize;
  border: var(--size) solid transparent;
  background: transparent;
  border-left: var(--size) solid #fffc;
  border-top: var(--size) solid #fffc;
}

.dragHandler {
  background: purple;
}

// ORIGIN ABOVE

.outerDraggableContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  top: 0;
  left: 0;
}

.chatWindow {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 200px;
  z-index: 10;

  border: 2px solid #577cb4;
  border-radius: 3px;

  background-color: #222;
  color: white;

  cursor: auto;
  resize: horizontal;

  pointer-events: auto;

  padding: 5px;

  &.rightSide {
    right: 0;
    width: 300px;
    min-width: 300px;
    max-width: 600px;
    height: 600px;
    min-height: 500px;

    &.resizeBar {
      display: none;
      left: 0;
    }
  }
  &.leftSide {
    left: 0;
    width: 300px;
    min-width: 300px;
    max-width: 600px;
    height: 700px;
    flex-direction: row-reverse;

    &.resizeBar {
      display: none;
      right: 0;
    }
  }
  &.bottomSide {
    top: unset;
    bottom: 0;
    left: 10vw;

    width: calc(100% - 20vw);
    min-width: 600px;
    max-width: 100%;
    height: 300px;
    min-height: 200px;

    &> .resizeBar {
      left: unset;
      bottom: unset;
      right: 0;
      top: 0;

      border: 5px solid transparent;
      border-top: 5px solid rgba(115, 187, 236, 0.85);
      border-right: 5px solid rgba(115, 187, 236, 0.85);
    }
  }

  .resizeBar {
    height: 0;
    width: 0;
    position: absolute;
    z-index: 100;

    left: 0;
    bottom: 0;

    cursor: nesw-resize;
    user-select: none;

    border: 5px solid transparent;
    border-bottom: 5px solid rgba(115, 187, 236, 0.85);
    border-left: 5px solid rgba(115, 187, 236, 0.85);
  }

  .controlPanel {
    display: flex;
    height: 40px;
    width: 100%;
    background-color: #345;
    border-radius: 5px;

    font-size: medium;
    font-weight: bold;

    align-items: center;

    user-select: none;
    cursor: grab;
    margin: 5px 0;

    &:active {
      cursor: grabbing;
    }

    &> div {
      line-height: 30px;
    }
  }

  .chatContainer {  // 主体框架，可滚动
    overflow-y: scroll;
    flex: 1;

    scrollbar-width: none;
    background-color: #345;
    border-radius: 5px;

    margin: 5px 0;
    box-sizing: content-box;

    position: relative;

    .infoContainer {
      display: flex;
      flex-direction: column;

      align-items: center;

      user-select: none;
      &.horizen {
        flex-direction: row;
        p {
          flex: 1;
        }

        .featureCards {
          grid-template-columns: repeat(4, 25%) !important;
          grid-template-rows: 100px !important;
          width: 800px !important;
        }
      }

      &> img {
        height: 80px;
        width: 80px;
        overflow: hidden;
        object-fit: cover;
        margin: 35px 5px;
        border-radius: 10px;
        box-shadow: 5px 10px 5px #0003 ;
      }

      &> p {
        font-size: medium;
        font-weight: bold;
        margin: 0 10px;
      }

      .featureCards {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(2, 100px);
        gap: 1px;
        &> div {
          margin: 5px 5px;
          border-radius: 5px;
          background-color: #567;
          text-align: center;
          div {  // Card Header
            font-weight: bold;
            font-size: large;
            margin: 5px;
          }
          &> p {  // Card Content
            color: #ccc;
            font-size: medium;
            line-height: 1rem;
          }
        }
      }
    }  // END OF INFO CONTAINER

    .chatList {
      display: flex;
      flex-direction: column;

      .chatListItem {
        display: flex;
        min-height: 40px;

        margin: 10px 10px 10px 5px;

        color: #000;

        &> div {  // 聊天框主体
          max-width: 80%;
          padding: 5px;

          font-size: medium;

          border-radius: 5px;
          background-color: white;

          display: flex;
          flex-direction: column;

          &> .hr {
            height: 0;
            width: 100%;
            border: .5px solid #aaae;
          }
        }

        &::before {
          content: "";
          width: 0;
          height: 0;

          margin: 15px 0;  // Parent - Border

          border: 5px solid transparent;
          border-right: 5px solid white;
        }

        &.userContent {  // 用户侧聊天框
          flex-direction: row-reverse;

          margin-left: 10px;
          margin-right: 5px;

          &> div {
            background-color: #ade470;
          }

          &::before {
            border: 5px solid transparent;
            border-left: 5px solid #ade470;
          }
        }
      }
    }

    .chatContainerNewMessageReminder {
      position: fixed;
      width: 100%;
      bottom: 50px;
      left: 0;
      text-align: center;
      color: #fff8;
      user-select: none;
      cursor: pointer;
    }
  }

  .inputContainer {
    height: 40px;
    display: flex;

    align-items: center;

    &> * {
      border-radius: 20px;
      margin: 0 2px;
    }
  }
}

.chatHideIcon {
  position: absolute;
  height: 50px;
  width: 50px;

  border-radius: 25px;
  background-color: #8888;

  padding: 5px;
  user-select: none;

  pointer-events: auto;
  z-index: 100;
  cursor: grab;

  bottom: 150px;
  right: 60px;

  &:active {
    cursor: grabbing;
  }

  &> img {
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: inherit;
    object-fit: cover;

    user-select: none;
    -webkit-user-drag: none;
  }
}
